@font-face {
    font-family: HLight;
    src: url(./HelveticaNowDisplay-Light.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HLight;
}
body, html{
    width: 100%;
    height: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #faf9f6;
    color: #222;
    padding: 20px 50px;
    position: relative;
}

/* Navbar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 500;
}
#navbar .navlinks:hover{
    text-decoration: underline;
}
#navbar #logo a{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
}
#sweaters{
    font-size: 130px;
    text-align: center;
}
#thirdSection{
    width: 20%;
}
#thirdSection h3{
    font-weight: 900;
    padding-bottom: 6px;
    padding-top: 10px;
    font-size: 17px;
}
#thirdSection p{
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
}
footer .italic{
    font-style: italic;
    font-weight: 200;
}
footer .shop a{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
img{
    position: absolute;
}
.img1{
    top: 50%;
    left: 40%;
    height: 190px;
}
.img2{
    top: 70%;
    left: 48%;
    height: 150px;
}
.img3{
    top: 45%;
    left: 56%;
    height: 250px;
}